@charset "UTF-8";
/* CSS Document */

.header {
	background-image: linear-gradient(mediumturquoise, paleturquoise, white);
text-align: center;
padding: 20px;
}

.header {font-family: scriptorama-tradeshow-jf,sans-serif;
font-weight: 400;
font-size: 23px;
font-style: normal;
color: slateblue;
}

.header2 {background-image: linear-gradient(mediumpurple,plum,white);
text-align: center;
padding: 20px;
}

.header2 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslateblue;
}

.header3 {background-image: linear-gradient(coral,pink,white);
text-align: center;
padding: 20px;}

.header3 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslategrey;
}

.header4 {background-image: linear-gradient(darkgray,gray,white);
text-align: center;
padding: 20px;}

.header4 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: black;
}

.header5 {background-image: linear-gradient(lavender,lavenderblush,white);
text-align: center;
padding: 20px;}

.header5 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslateblue;
}

/*style the top navigation bar */
.topnav {
	overflow: hidden;
background-color: aliceblue;
	margin: auto;
	text-align: center;
}

/*style the topnav links*/
.topnav a {
	float: inherit;
	text-align: center;
display: inline-flex;
color: coral;
padding: 15px 40px;
text-decoration: none;}
/* change color on hover */
.topnav a:hover{
	background-color: plum;
	color: aliceblue;
}

.flex-container {
	display: inline-flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-container > div {
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: white;
	color: plum;
	margin: 10px;
	padding: 40px 20px;
	font-size: 20px;
}

.column img {
	margin-top: 10px;
	vertical-align: middle;
	margin-bottom: 10px;
}

/* create two unequal columns that float next to eachother */

.row {
	float: left;
	padding: 10px;
}

/* left and right column */
.side.column {
	width: 50%;
	float: left;
}

.right.column {
	float: right;
	width: 40%;
text-align: right;
	color: slateblue;
	font-size: 20px;
}


/* clear floats after the columns */
.row:after {
	content:"";
	display: table;
	clear: both;
}

/* create two unequal columns that float next to eachother */

.row1 {
	float: left;
	padding: 20px;
}

/* left and right column */
.side.column1 {
	width: 50%;
	float: left;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	
}

.right.column1 {
	float: right;
	width: 40%;
text-align: right;
	color: orangered;
	font-size: 20px;
}


/* clear floats after the columns */
.row1:after {
	content:"";
	display: table;
	clear: both;
}

.column2 img {
	margin-top: 20px;
	vertical-align: middle;
	margin-bottom: 20px;
}

/* create two unequal columns that float next to eachother */

.row3 {
	float: left;
	padding: 20px;
}

/* left and right column */
.side.column3 {
	width: 50%;
	float: left;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	
}

.right.column3 {
	float: right;
	width: 40%;
text-align: right;
	color: darkslategrey;
	font-size: 20px;
}


/* clear floats after the columns */
.row3:after {
	content:"";
	display: table;
	clear: both;
}

.flex-container1 {
	display: inline-flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-container1 > div {
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: white;
	color: plum;
	margin: 10px;
	padding: 40px 20px;
	font-size: 20px;
}

.flex-container2 {
	justify-content: center;
	padding: 5px;
}
.flex-container2 h5 {
	text-align: center;
	font-size: 20px;
	color: plum;
}

/* Style the footer */
.footer {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}