@charset "UTF-8";
/* CSS Document */

.header {
	background-image: linear-gradient(mediumturquoise, paleturquoise, white);
text-align: center;
padding: 20px;
}

.header {font-family: scriptorama-tradeshow-jf,sans-serif;
font-weight: 400;
font-size: 23px;
font-style: normal;
color: slateblue;
}

.header2 {background-image: linear-gradient(mediumpurple,plum,white);
text-align: center;
padding: 20px;
}

.header2 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslateblue;
}

.header3 {background-image: linear-gradient(coral,pink,white);
text-align: center;
padding: 20px;}

.header3 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslategrey;
}

.header4 {background-image: linear-gradient(darkgray,gray,white);
text-align: center;
padding: 20px;}

.header4 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: black;
}

.header5 {background-image: linear-gradient(lavender,lavenderblush,white);
text-align: center;
padding: 20px;}

.header5 {
font-family: alkaline,sans-serif;
	font-size: 23px;
font-weight: 700;
font-style: normal;
color: darkslateblue;
}

/*style the top navigation bar */
.topnav {
	overflow: hidden;
background-color: aliceblue;
	margin: auto;
	text-align: center;
}

/*style the topnav links*/
.topnav a {
	float: inherit;
	text-align: center;
display: inline-flex;
color: coral;
padding: 15px 40px;
text-decoration: none;}
/* change color on hover */
.topnav a:hover{
	background-color: plum;
	color: aliceblue;
}

.flex-container {
	display: inline-flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-container > div {
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: white;
	color: plum;
	margin: 10px;
	padding: 40px 20px;
	font-size: 20px;
}

.column img {
	margin-top: 10px;
	vertical-align: middle;
	margin-bottom: 10px;
}

.logo {
	align-items: center;
}

.column2  {
	text-align-last: center;
}